.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
}

.card-heading-removeAll-container {
  display: flex;
  justify-content: space-between;
}

.remove-all-item-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #0b69ff;
  font-family: Roboto;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}
